<div class="input_fields_wrap">
    <button class="add_field_button">Add More Clothes</button>
    <div class="item_form">
    <%= form_for [@image, @item], remote: true do |f| %>
<!-- mapping the array in Item model and gives the values index -->
	<%= f.select :item_type, options_for_select(Item::ITEM_TYPE.map.with_index { |c,i| [c, i] }) %> 
	<%= f.text_area :description %>
	<%= f.text_area :url %>
	<%= f.submit name="Add Item" %>
	<% end %>
	</div>
</div>
