<div class="input_fields_wrap">
    <div class="item_form">
	    <%= form_for [@image, @item], remote: true do |f| %>
	<!-- mapping the array in Item model and gives the values index -->
		<p><%= f.select :item_type, options_for_select(Item::ITEM_TYPE.map.with_index { |c,i| [c, i] }) %></p> 
		<p><%= f.text_area :description, placeholder: "description" %></p>
		<p><%= f.url_field :url, placeholder: "shopping url (http...)" %></p>
		<%= f.submit name="Add Item" %>
		<% end %>
	</div>
</div>
