<!-- If the current user likes the image, loop through and display each item. -->
<!-- Switch button to unlike and show the items in the div show_me  -->
<!-- If image is liked, when returned items will still be displayed in div show_me -->
<div id="show_me">
	<% if current_user.liked_images.include? @image and current_user %>
		<div class="items">
			<% @image.items.each do |item| %>
				<p class="clothesitems"><%= item.display_item_type + " |" %>
				<%= item.description %></p>
				<p class="clothesitems"><%= link_to item.url, "#{item.url}"%>
				<% if current_user and current_user == @image.user %>
					<%= link_to "x", image_item_path(image_id: item.image.id, id: item.id), method: :delete %>
				<% end %></p>
				<hr class="brand-hr">		
			<% end %>
		</div>
		<p><%= button_to "Unlike", like_image_path(@image), remote: true, :form => { :id => "unlikebutton" }, method: :delete %></p>
	<% else %>
		<p><%= button_to "Like", like_image_path(@image), remote: true, :form => { :id => "unlikebutton" } %></p>
	<% end %>
</div>