<%= render @image %>
<%= render 'items/newitem' %>

<h4>Items</h4>
	<div class="items">
	<% @image.items.each do |item| %>
		<p class="clothesitems"><%= item.display_item_type %>
		<%= item.description %>
		<%= item.url %>
		<%= link_to "x", image_item_path(image_id: item.image.id, id: item.id), method: :delete %></p>		
	<% end %>
	</div>
	
	
	<% if current_user and current_user != @user %>
		<% if current_user.liked_images.include? @image %>
			<p><%= button_to "Unlike", unlike_image_path(@image), remote: true, :form => { :id => "unlikebutton" } %></p>
		<% else %>
			<p><%= button_to "Like", like_image_path(@image), remote: true, :form => { :id => "likebutton" } %></p>
		<% end %>
	<% end %>
	
<% @image.likes.each do |like| %>
	<p><%= link_to like.user.username, profile_user_path(like.user.username) %>
<% end %>

	
<h3>New Comment</h3>
	<%= form_for [@image, @comment] do |f| %>
		<%= f.text_area :body %><br>
		<%= f.submit %>
	<% end %>
		
<h3>Comments</h3>
	<% @image.comments.each do |comment| %>
		<p><%= comment.body %></p>
		<p>by <%= link_to comment.user.username, profile_user_path(comment.user.username) %>
		<p><%= link_to "Delete", image_comment_path(image_id: comment.image.id, id: comment.id), method: :delete %></p>
		<hr>
	<% end %>	
