<!DOCTYPE html>
<html>
<head>
  <title>tellmewear</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<%= link_to "tellmewear", images_path %>
		<nav>
			<% if user_signed_in? %>
			<span>Hello <%= link_to current_user.username, profile_path %></span>
				<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
				<%= link_to "New Outfit", new_image_path %>
			<% else %>
				<%= link_to "Sign Up!", new_user_registration_path %>
				<%= link_to "Sign In!", new_user_session_path %>
			<% end %>
			<%= form_tag users_path, :method => 'get' do %>
				<p>
					<%= text_field_tag :search, params[:search] %>
					<%= submit_tag "Search", :username => nil %>
				</p>
			<% end %>
		</nav>
	</header>
	<main>
		<% if flash[:notice] %>
			<div class="notice"><%= flash[:notice] %></div>
		<% end %>
		
		<% if flash[:alert] %>
			<div class="alert"><%= flash[:notice] %></div>
		<% end %> 

		<%= yield %>
	</main>
</body>
</html>